<form action="/restaurant/{{ restaurant._id }}/edit" method="POST">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 mx-auto">
          <p class="ml-1">
            <span class="text-secondary">
              <i class="fas fa-utensils"></i>
              餐廳名字：
            </span>
          <div class="input-group">
            <input type="text" placeholder="輸入餐廳名字" name="name" value="{{restaurant.name}}">
          </div>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="far fa-bookmark pr-2"></i>
              類別：
            </span>
          <div class="input-group">
            <input type="text" placeholder="輸入餐廳類別" name="category" value="{{restaurant.category}}">
          </div>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fab fa-ethereum pr-2"></i>
              地址：
            </span>
          <div class="input-group">
            <input type="text" placeholder="輸入餐廳地點" name="location" value="{{restaurant.location}}">
          </div>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-mobile-alt pr-2"></i>
              電話：
            </span>
          <div class="input-group">
            <input type="text" placeholder="輸入餐廳電話" name="phone" value="{{restaurant.phone}}">
          </div>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="far fa-gem"></i>
              評分：
            </span>
          <div class="input-group">
            <input type="text" placeholder="輸入餐廳評分" name="rating" value="{{restaurant.rating}}">
          </div>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-book-reader"></i>
              餐廳描述：
            </span>
          <div class="input-group">
            <textarea name="description" placeholder="輸入餐廳描述" cols="30" rows="10">{{restaurant.description}}</textarea>
          </div>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-camera-retro"></i>
              餐廳照片：
            </span>
          <div class="input-group">
            <input type="text" placeholder="輸入餐廳照片網址" name="image" value="{{restaurant.image}}">
          </div>
          </p>
    
          <button type="submit">儲存</button>
          <a href="/">
            <button type="button" class="">返回</button>
          </a>
        </div>
      </div>
    </div>
</form>