<!-- ./views/index.handlebars -->
<div class="container mt-5">

  <!-- search bar -->
<div class="row" id="search-bar">
    <div class="col-12">
        <form action="/search">
            <div class="input-group mb-3">
            <input type="text" name="keyword" class="form-control" placeholder="搜尋餐廳或分類..." aria-label="Restaurant Name..."
                value="{{keyword}}" aria-describedby="search-button">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- restaurant list -->
    <div class="row" id="data-panel">
        <div class="col-md-10 col-12 mx-auto"></div>
            <div class="card-columns">
                {{#each restaurant}}
                <a href="/restaurant/{{this.id}}" class="text-secondary">
                    <div class="card mb-3">
                        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">{{this.name}}</h6>
                            <p class="card-text">
                                <i class="far fa-bookmark"></i>
                                {{this.category}}
                            </p>
                            <span class="font-weight-bold badge badge-danger">
                                <i class="far fa-gem"></i>
                                {{this.rating}}                             
                            </span>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>