<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{restaurant.name}}</h1>
    <img class="rounded mb-4" src="{{restaurant.image}}" alt="Card image cap"
      style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <p class="text-info">
            <i class="far fa-bookmark"></i>
            <strong>料理分類:</strong>
            {{restaurant.category}} 
        </p>
        <p class="text-info">
            <i class="fas fa-mobile-alt"></i>
            <strong>電話:</strong>
            {{restaurant.phone}} 
        </p>
        <p class="text-info"> 
            <i class="fab fa-ethereum"></i>
            <strong>地址:</strong>
            {{restaurant.location}}
        </p>
        <p>
            <strong>餐廳特色介紹:</strong>
            {{restaurant.description}}
        </p>
    </div>
  </div>
</div>